/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cor-secundaria: rgb(0, 185, 145);
    --cor-principal: #fff;
}
/*Tags*/
ul{
    list-style: none;  
}

a{
    text-decoration: none;
}

a, p, span, h1{
    color: var(--cor-principal);
}

h5{
    font-size: 25px;
    color: var(--cor-secundaria);
}

body{
    background-image: radial-gradient(circle, #26045c, #180c4e, #0f0d3e, #0c0b2e, #08061e);
}

header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header ul{
    display: flex;
}

header ul li{
    padding: 10px;
}

header span{
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}

header ul li a{
    color: var(--cor-principal);
    transition: ease-in-out 400ms;
    font-size: 18px;
    font-weight: 600;
}

header ul li a:hover{
    color: var(--cor-secundaria);
}

header ul li a i{
    margin: 0 10px;
}
/*Classes e IDs*/
#arrow{
    margin: 15px 0;
}

#arrow i{
    color: #fff;
    cursor: pointer;
    animation: blink 1.2s steps(5, start) infinite;
}

@keyframes blink{
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

#about{
    width: 650px;
    margin: 0 auto;
    display: none;
}

.active{
    display: block !important;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 50px;
}


#about > h4{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
}
.container-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.card{
    width: 30%;
    background-color: #eee;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px #111;
}

.card:nth-of-type(1) i{
    margin: 10px 10px 15px 10px;
    color: #fd7e14;
}

.card:nth-of-type(2) i{
    margin: 10px 10px 15px 10px;
    color: #0c6fb2;
}

.card:nth-of-type(3) i{
    margin: 10px 10px 15px 10px;
    color: #e84d31; 
}

.card p{
    color: #000;
}

.form{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}

.form p{
    color: var(--cor-secundaria);
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}

.form input{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 15px 0px 0px 15px;
}

.form input:focus{
    outline: 0;
}



.form button{
    width: 15%;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px ;
    margin-left: -5px;
    background: linear-gradient(to right, rgb(13, 141, 113) 50%, rgb(0, 185, 145) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 300ms linear;
    color: #fff;
}

.form button:hover{
    background-position: left bottom;
}

