*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cor-principal: rgb(0, 185, 145);
}

ul{
    list-style: none;  
}

a{
    text-decoration: none;
}

body{
    background-image: radial-gradient(circle, #26045c, #180c4e, #0f0d3e, #0c0b2e, #08061e);
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 50px;
    color: #fff;
}

.container .name h5{
    font-size: 25px;
    color: var(--cor-principal);
}

